<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body ng-app="OsO">
    <h1>Ohm Sweet Ohm</h1>
    <div ng-controller="devCtrl">

        <h2>Devices:</h2>
        <a data-ng-repeat="device in devices" id="{{device.id}}" href="devices/{{device.id}}">
            <div>
                <h2>{{device.name}} ({{device.id}})</h2>
            </div>
        </a>
    </div>

    <script>
        var app = angular.module('OsO', []);
        app.controller('devCtrl', function($scope, $http) {
            $http.get("/devices")
                .then(function(response) {
                    $scope.devices = response.data;
                });
        });
    </script>
</body>

</html>
